body {
    background-color: rgb(41, 123, 218);
}

.container {
     background-color: rgb(41, 123, 218);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}