body {
    background-color: rgb(41, 123, 218);
}

.container {
     background-color: rgb(41, 123, 218);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.question-footer {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid rgba(0,0,0,0.4);
    align-items: center;
    padding-top: 12px
}

.quiz_Card {
    width: 30rem;
}

.quiz-answer-card:hover {
    background-color: rgba(0,0,0,0.05);
}

.bg-success, .bg-danger {
    color: white;
}

.width-100 {
    width: 100%;
}

.text-center {
    text-align: center;
}

.final-headline {
    font-size: 38px;
    margin-bottom: 32px;
}